* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li, ol, ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  table {
    border-collapse:collapse;
    border-spacing: 0;
  }
  
  button:hover {
    cursor: pointer;
  }


  html {
    scroll-behavior: smooth;
}


.wrap {
  display: block;
}

	.cnt {display: block; overflow: hidden;}

	.cnt img{
	display:block;
	position:relative;
    left: 50%;
    transform: translateX(-50%);}