@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li, ol, ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  table {
    border-collapse:collapse;
    border-spacing: 0;
  }
  
  button:hover {
    cursor: pointer;
  }


  html {
    scroll-behavior: smooth;
}

 .container {
    /* outline: 4px solid red; */
    width: 1100px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}






header {
    z-index: 999;
    height: 90px;
    outline: 2px solid #ededed;
    background: #003d9b;
    color: #fff;
    box-shadow: 5px 5Px 13px rgba(128, 128, 128, 0.293);
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

header img {
    display: block;
    margin: auto;
    position: relative;
    top:15px;
}








#doctors {
    /* outline: 5px solid red; */
    background-image: url("../images/doctor_bg.jpg");
    background-attachment:scroll;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 1020px;
    display: flex;
    justify-items: center;
    justify-content: center;
    width: auto;
    position: relative;
}

#doctors .container {
    height: 1020px;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 2%;
    position: absolute;
}

#doctors .doctor-text {
    width: 50%;
}

#doctors .doctor-img {
    width: 50%;
}

#doctors .doctor-text img {
    width: 165%;
    position: relative;
    transform: translateY(10%);
    left: -35px;
}

#doctors .doctor-img img {
    width: 120%;
    position: relative;
    top: 10px;
    right: -160px;
}








#time {
    /* outline: 5px solid red; */
    height: 1800px;
    background-image: url("../images/time_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: auto;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#time .container {
    width: 1100px;
    height: 700px;
    margin: auto;
    display: block;
}

#time .container img {
    margin: auto;
    display: block;
}

#time .time_content {
    margin-top: 70px;
}

#time .map {
    margin-top: 10px;
    height: 800px;
    box-shadow: 17px 17px #003e9bd3;
}

#time .text {
    height: 30px;
    display: block;
    margin: auto;
    position: relative;
    top:-20px;
}








footer {
    height: 140px;
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-top: 1px solid #ccc;

}

footer .container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 22px;
}

footer .container h4{
    font-weight: 300;
}

footer .container div:first-child {
    margin-right: 5%;
}

footer .container .text_2 {
    text-align: center;
    position: relative;
    top: 9px;
}

